<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProfile.css", titulo:"Completar Titulo"}) %>
<main>
    <div class="info-usuario">
        <h2 class="nombre-usuario"><%= usuario.nombre + " " + usuario.apellido %></h2>
        <h3 class="mail-usuario"><%= usuario.email  %></h2>
        <h4 class="tel-usuario"><%= usuario.celular  %></h2>
        <button class="cuenta"><a>Ver Cuenta</a></button>
        <div class="alumnas">
            <h2>ALUMNAS</h2>
            <% if(usuario.alumnas.length > 0){ %>
                <% usuario.alumnas.forEach(alumna => { %>
                    <div class="info-alumna">
                        <div class="informacion">
                            <h3 class="nombre-alumna">alumna.nombre</h3>
                            <h4 class="curso-alumna">alumna.curso</h4>
                            <h4 class="vale-cargado">Mensual: Lunes Miercoles Jueves</h4>
                        </div>
                        <div class="botones">
                            <button><a>Vale Mensual</a></button>
                            <button><a>Vale Diario</a></button>
                            <button><a>Inasistencias</a></button>
                            <button><a>Eliminar</a></button>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3>NO TIENE ALUMNAS CARGADAS</h3>
            <% } %>
            <div class="nueva-alumna">
                <button><a href="/users/nuevaAlumna">Agregar Alumna</a></button>   
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>